@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}
body{
    background: rgba(26, 11, 46, 1);  
    font-family: "Inter", sans-serif;

}
.navbar{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    background: var(--#1A0B2E, rgba(26, 11, 46, 1));
    flex-direction: row;
    
}
.logo{
    
    color: white;

}
.logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frame{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    color: #ffffff;
   
}
.btn-primary{    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    border-radius: 10000px;
    padding: 12px 16px 12px 16px;
    background: linear-gradient(45deg, #ff00ff, #ffcc00);
    color: #ffffff;
}

.navbar>span{
    color: #ffffff;
    display: none;
}

.banner{
    
    max-width: 1600px;    
    background: url("../image/hero-bg.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}

.circle1{
    position: relative;
      
    margin-bottom: 30px;
    padding-top: 30px;
}


.circle1-img{
    width: 100%;
    
    
}
.cir-img{
    background-color: transparent;
}

.mic-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    
}
.badge{
    position: absolute;
    top: 30px;
    right: 30px;
    background: #00FF88;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

h1{
    font-size: 48px;
    margin-bottom: 10px;
    background-color: transparent;
}

p{
    max-width: 500px;
    font-size: 16px;
    opacity: 0.8;
    background-color: transparent;
}

.buttons{
    margin-top: 25px;
    display: flex;
    gap: 15px;
    background-color: transparent;
}

.btn{
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    ;
}

.spotify{
    background: linear-gradient(45deg, #ff00ff, #ffcc00);
    color: white;
    
}

.subscribe{
    border: 1px solid #00FF88;
    color: #00FF88;
    justify-items: center;
}

/* about section */
.about{
    margin-top: 70px;  
    gap: 80;
    padding: 50px 200px 120px 200px;
    
}
.text{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.text h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;   
}
.gray{
    color: rgb(187, 185, 185);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    
}
.rating{
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.rating h1{
    color: #00FF88;
}
.rating p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}


/* grid section */

.why{
    padding:80px 8%;
}

.why h2{
    text-align:center;
    font-size:38px;
    margin-bottom:60px;
    color: #ffffff;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.card{
    background:#2a0f4f;
    padding:35px;
    border-radius:22px;
}
.icon{
    width:40px;
    margin-bottom:20px;
    background-color: transparent;
}

.card h3{
    margin-bottom:12px;
    font-size:18px;
    color: #ffffff;
    background-color: transparent;
}

.card p{
    font-size:14px;
    line-height:1.7;
    opacity:0.8;
    color: rgb(162, 162, 162);
    background-color: transparent;
}

.big{
    grid-row: span 2;
}

.wide{
    grid-column: span 2;
}


/* iframe added */

.episodes{
    padding:80px 10%;
    color: #ffffff;
}

.episodes h2{
    text-align:center;
    font-size:36px;
    margin-bottom:50px;
  
}
.episode-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
   
}
.episode-card{
    background:#2a0f4f;
    border-radius:22px;
    overflow:hidden;
}
.video-box{
    position:relative;
    aspect-ratio: 16 / 9;
}
.video-box iframe{
    width:100%;
    height:100%;
    border:0;
}
.content{
    padding:25px;
    background-color: #2a0f4f;
}
.content h3{
    margin-bottom:10px;
    color: #ffffff;
    background-color: transparent;
}
.content p{
    font-size:14px;
    opacity:.8;
    line-height:1.6;
    color: #aeadad;
}
.time{
    display:inline-block;
    margin-top:12px;
    color:#00ff99;
    font-size:14px;
    background-color: transparent;
}
/* host section */

.host{
    width: 1200px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    
}
.host h1{
    color: #ffffff;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    
}

.card-host{
   
    width: 1200px;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    box-shadow: none;
    
    
}
.text{
    
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;       
    gap: 10px;
}

.text h2{
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;  
    
}

.test p{
    font-size: 16px;
    font-weight: 100px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(189, 186, 186);
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    
}
/* footer */


.footer-section {
    width: 100%;
    padding: 60px 0;
    background-color: rgba(26, 11, 46, 1);
    background-image: url('../image/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    text-align: center;
}
.footer-logo h1 {
    font-size: 64px;
    font-weight: 800;
    margin: 0;
}
.footer-logo span {
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-links {
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
.footer-links a:hover {
    color: #ffffff;
}
.footer-links img {
    width: 20px;
}
.copyright p {
    font-size: 14px;
    color: #888888;
    margin-top: 10px;
}



@media screen and (max-width: 576px) {
    .frame, .btn-primary{
        display: none;
    }
    .navbar>span{
    color: #ffffff;
    align-items: center;
    }

    .banner{
        width: 400px;
    }
    .cards{
        grid-template-columns: 2fr;
    }
    .rating{
        flex-direction: column;
    }

    .card.big,
    .card.wide{
        grid-column: span 2;
        grid-row: span 1;    
    }
    
    .episode-grid{
        grid-template-columns:1fr;
    }



    
}
