@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1500;
    background: rgba(26, 11, 46, 1);    
    font-family: "Inter", sans-serif;
    
}
.navbar{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    background: var(--#1A0B2E, rgba(26, 11, 46, 1));
    flex-direction: row;
    
}
.logo{
    
    color: white;

}
.logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frame{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    color: #ffffff;
   
}
.btn-primary{    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    border-radius: 10000px;
    padding: 12px 16px 12px 16px;
    background: linear-gradient(45deg, #ff00ff, #ffcc00);
    color: #ffffff;
}

.navbar>span{
    color: #ffffff;
    display: none;
}

.banner{
    
    max-width: 1600px;    
    background: url("/image/hero-bg.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.circle1{
    position: relative;
    
    margin-bottom: 30px;
    padding-top: 30px;
}

.circle1-img{
    width: 100%;
}

.mic-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    
}
.badge{
    position: absolute;
    top: 30px;
    right: 30px;
    background: #00FF88;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

h1{
    font-size: 48px;
    margin-bottom: 10px;
}

p{
    max-width: 500px;
    font-size: 16px;
    opacity: 0.8;
}

.buttons{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.btn{
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
}

.spotify{
    background: linear-gradient(45deg, #ff00ff, #ffcc00);
    color: white;
}

.subscribe{
    border: 1px solid #00FF88;
    color: #00FF88;
    justify-items: center;
}

/* about section */
.about{
    margin-top: 70px;
    
    
    /* justify-content: flex-start; */
    
    gap: 80;
    padding: 50px 200px 120px 200px;
    
}
.text{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.text h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;   
}
.gray{
    color: rgb(187, 185, 185);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    gap: 120px;
}
.rating{
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.rating h1{
    color: #00FF88;
}
.rating p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}








/* responsive for mobile */
@media screen and (max-width: 576px) {
    .frame, .btn-primary{
        display: none;
    }
    .navbar>span{
    color: #ffffff;
    display: inline;
}
  .banner{
    width: 400px;
  }

    
}
