*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(26, 11, 46, 1);
    justify-content: flex-start;
    align-items: flex-start;
    
}
.navbar{
    display: flex;
    width: 1600px;
    height: 92px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    background: var(--#1A0B2E, rgba(26, 11, 46, 1));
    flex-direction: row;
    
}
.logo{
    width: 220px;
    height: 35px;
    color: white;

}
.logo span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frame{
   width: 218px;
    height: 19px;;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    color: #ffffff;
   
}
.btn-primary{
    
width: 135px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4;
border-radius: 10000px;
padding: 12px 16px 12px 16px;
background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));


}

